# Dashboard Configuration
NEXT_PUBLIC_SITE_NAME=Tue Truonga Dashboard
NEXT_PUBLIC_PROFILE_URL=https://me.tue-truonga.work
NEXT_PUBLIC_PLANNING_POKER_URL=https://planning-poker.tue-truonga.work

# Optional: Add your social media links
NEXT_PUBLIC_GITHUB_URL=https://github.com
NEXT_PUBLIC_TWITTER_URL=https://twitter.com
NEXT_PUBLIC_LINKEDIN_URL=https://linkedin.com
